{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "uglify": true
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "syntax-dynamic-import",
    "transform-export-extensions",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
